In [1]:
import pandas as pd

In [12]:
ads = pd.read_csv('./ads_data.csv')
users_messages = pd.read_csv('./user_messages.csv')

In [3]:
%matplotlib inline

In [14]:
users = pd.read_csv('./user_data.csv')

In [23]:
ads.drop(['source'], axis=1, inplace=True)

In [30]:
users.drop(['channel', 'origin'], axis=1, inplace=True)

ValueError: labels ['channel' 'origin'] not contained in axis

In [32]:
user_messages = pd.read_csv('./user_messages.csv')

In [33]:
user_messages.head()

   user_id  category_id                                   ads
0        1          859                             [1806476]
1        3          800  [2131700, 2734107, 2877209, 2877209]
2        4          815                             [2883211]
3        7          815           [2429412, 2886810, 2886804]
4        7          362                             [2909301]

In [15]:
user_data = pd.read_csv('./user_data.csv')

In [16]:
user_data.head()

,event_time,user_id,event,channel,user_lat,user_long,origin,ad_id,images_count,ad_impressions,ad_views,ad_messages
0,2017-05-19 10:47:22,541,view,ios,-34.600439,-58.514031,browse_search,2426321,6.0,0.0,4.0,0.0
1,2017-06-10 10:18:12,501,view,android,-34.818047,-58.356583,browse_search,2746814,5.0,152.0,85.0,1.0
2,2017-06-11 00:44:57,559,view,android,-34.688454,-58.333435,browse,1123948,4.0,899.0,22.0,1.0
3,2017-05-22 02:36:06,637,first_message,android,-34.548401,-58.485168,search,2273498,NaN,0.0,21.0,2.0
4,2017-06-08 15:45:35,509,view,android,-34.582088,-58.405041,home,2722493,3.0,1529.0,132.0,3.0

In [17]:
user_test = pd.read_csv('./user_messages_test.csv')

In [18]:
user_test.head()

   user_id  category_id
0        2          800
1        6          815
2       14          811
3       14          800
4       17          815

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,3), stop_words='english', min_df=0)

In [26]:
tfidf_matrix = tf.fit_transform(ads.description)

In [29]:
tfidf_matrix

array([ 0.08513363,  0.11064471,  0.04492187, ...,  0.45459571,
        0.50390117,  0.50390117])

In [30]:
from sklearn.metrics.pairwise import linear_kernel

In [ ]:
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [34]:
test = pd.read_csv('./user_messages_test.csv')

In [35]:
test.head()

   user_id  category_id
0        2          800
1        6          815
2       14          811
3       14          800
4       17          815

In [47]:
enabled_ads = ads[ads['enabled'] == 1]

In [48]:
enabled_ads.head()

,ad_id,category_id,title,description,price,lat,long,enabled
1,3916,815,Remera marca premium alemana,Casi nuevo y sin uso. Lo compre online y me qu...,150.0,NaN,NaN,1
2,11738,806,Juego de sillones estilo campo,Divino juego de sillones de diseño campo,1500.0,NaN,NaN,1
7,26552,800,Radio para tu auto wv con dos,Esta en perfecto estado lo saque de mi auto co...,1200.0,-34.603989,-58.458111,1
8,29177,811,Pantalla para Netbook,"Pantalla para netbook Acer, Aspire One modelo ...",800.0,-34.550674,-58.465057,1
9,30228,806,2 Estufas eskabe 5500 k,Estufa de tiro balanceado Eskabe 5500 k . Muy ...,1000.0,NaN,NaN,1

In [91]:
test.set_value(0, 'ads', list(enabled_ads[enabled_ads['category_id']==815][:10]['ad_id']) )

       user_id  category_id                                                ads
0            2          800  [3916, 34963, 35792, 48429, 88418, 98681, 1010...
1            6          815                                                  5
2           14          811                                                  5
3           14          800                                                  5
4           17          815                                                  5
5           20          811                                                  5
6           20          806                                                  5
7           20          800                                                  5
8           24          800                                                  5
9           24          888                                                  5
10          28          815                                                  5
11          28          853                                                  5
12          35          806                                                  5
13          35          888                                                  5
14          48          888                                                  5
15          48          881                                                  5
16          48          853                                                  5
17          48          815                                                  5
18          48          800                                                  5
19          49          887                                                  5
20          49          811                                                  5
21          49          800                                                  5
22          51          815                                                  5
23          61          806                                                  5
24          67          800                                                  5
25          67          888                                                  5
26          72          888                                                  5
27          72          806                                                  5
28          76          815                                                  5
29          76          853                                                  5
...        ...          ...                                                ...
10477    14982          362                                                  5
10478    14986          815                                                  5
10479    14987          362                                                  5
10480    14993          806                                                  5
10481    14995          800                                                  5
10482    14996          806                                                  5
10483    15000          362                                                  5
10484    15005          800                                                  5
10485    15010          800                                                  5
10486    15017          853                                                  5
10487    15022          362                                                  5
10488    15024          800                                                  5
10489    15025          362                                                  5
10490    15027          815                                                  5
10491    15029          811                                                  5
10492    15033          811                                                  5
10493    15033          800                                                  5
10494    15035          853                                                  5
10495    15037          800                                                  5
10496    15046          362                                                  5
10497    15046          806                                                  5
10498    15048          811                                                  5
10499    15049          853                                                  5
10500    15051          800                                                  5
10501    15052          815                                                  5
10502    15057          800                                                  5
10503    15058          800                                                  5
10504    15059          806                                                  5
10505    15060          815                                                  5
10506    15064          881                                                  5

[10507 rows x 3 columns]

In [54]:
test.count()

user_id        10507
category_id    10507
dtype: int64

In [57]:
test['ads'] = 5

In [58]:
test.head()

   user_id  category_id  ads
0        2          800    5
1        6          815    5
2       14          811    5
3       14          800    5
4       17          815    5

In [92]:
for index, user_id, category_id, ads in test.itertuples():
    test.set_value(index, 'ads', list(enabled_ads[enabled_ads['category_id']==category_id][:10]['ad_id']))

In [88]:
a = enabled_ads[enabled_ads['category_id']==815][:10]['ad_id']

In [77]:
test.head()

   user_id  category_id  ads
0        2          800    5
1        6          815    5
2       14          811    5
3       14          800    5
4       17          815    5

In [85]:
test['ads'] = test['ads'].astype(object)

In [93]:
test.head()

   user_id  category_id                                                ads
0        2          800  [26552, 54384, 73659, 74548, 91041, 92046, 983...
1        6          815  [3916, 34963, 35792, 48429, 88418, 98681, 1010...
2       14          811  [29177, 92504, 320900, 356995, 388634, 403312,...
3       14          800  [26552, 54384, 73659, 74548, 91041, 92046, 983...
4       17          815  [3916, 34963, 35792, 48429, 88418, 98681, 1010...

In [109]:
test.to_csv('results.csv', sep=',', encoding='utf-8',index=False)

In [108]:
f = open('./results.csv', 'w')

In [113]:
user_messages.head()

   user_id  category_id                                   ads
0        1          859                             [1806476]
1        3          800  [2131700, 2734107, 2877209, 2877209]
2        4          815                             [2883211]
3        7          815           [2429412, 2886810, 2886804]
4        7          362                             [2909301]

In [117]:
def get_user_recommendations(user_id, category_id):
    seen_ads = user_messages[user_messages['user_id'] == user_id]
    seen_ads = seen_ads[seen_ads['category_id'] == category_id]
    seen_ads = seen_ads['ads']
    print seen_ads

In [134]:
from sklearn.neighbors import KNeighborsClassifier
def get_similar_ads(ad_ids, category_id):
        classifier = KNeighborsClassifier(n_neighbours=10)

In [121]:
ads = pd.read_csv('./ads_data.csv')

In [123]:
ads.drop(['seller_id', 'creation_time', 'source'], axis=1, inplace=True)

In [126]:
enabled_ads.drop(['enabled'], axis=1, inplace=True)

In [133]:
enabled_ads.head()

,ad_id,category_id,title,description,price,lat,long
1,3916,815,Remera marca premium alemana,Casi nuevo y sin uso. Lo compre online y me qu...,150.0,NaN,NaN
2,11738,806,Juego de sillones estilo campo,Divino juego de sillones de diseño campo,1500.0,NaN,NaN
7,26552,800,Radio para tu auto wv con dos,Esta en perfecto estado lo saque de mi auto co...,1200.0,-34.603989,-58.458111
8,29177,811,Pantalla para Netbook,"Pantalla para netbook Acer, Aspire One modelo ...",800.0,-34.550674,-58.465057
9,30228,806,2 Estufas eskabe 5500 k,Estufa de tiro balanceado Eskabe 5500 k . Muy ...,1000.0,NaN,NaN

In [135]:
from sklearn.feature_extraction.text import TfidfTransformer

In [136]:
a = TfidfTransformer()

TypeError: no supported conversion for types: (dtype('S12'),)